.share {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &__text {
    font-family: $roboto;
    color: $primary;
    font-size: 1rem;
    font-weight: 400;
  }
  &__social-list {
    margin-top: 20px;
    background: #ffffff;
    box-shadow: 10px 10px 67px rgba(84, 90, 232, 0.17);
    border-radius: 43px;
    padding: 20px 32px;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
  }
}
