.free-materials-filter {
  background-color: $white;
  padding: 65px 0;
  &__container {
    max-width: 1350px;
  }
  &__title {
    font-family: $roboto;
    font-weight: 700;
    font-size: pxToRem(36);
    line-height: pxToRem(42);
    text-transform: uppercase;
    color: #565656;
    margin-bottom: 55px;
  }
  &__categories-list {
    display: flex;
    gap: 20px;
    list-style: none;
  }
  &__categories-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  &__input-search {
    max-width: 430px;
    width: 100%;
    margin-top: 55px;
  }
}

.free-materials {
  padding-top: 95px;
  background: #f6f6ff;
  &__container {
    max-width: 1295px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 73px;
  }
  &__pagination {
    margin-top: 115px;
    margin-bottom: 155px;
  }
}
