// Fonts
$inter: "Inter", sans-serif;
$roboto: "Roboto", sans-serif;

// Colors
$white: #FFFFFF;
$primary: #545AE8;
$danger: #FF3939;
$gray-100: #C4C4C4;
$gray-400: #6D6D6D;
$gray-300: #959595;
$gray-450: #818181;
$gray-500: #565656;
$black-100: #414141;
$black-200: #454545;
$black-900: #000000;