.radio-group {
  display: flex;
  gap: 10px;
  align-items: center;
  input {
    appearance: none;
    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 2px solid #dcdeff;
    border-radius: 35px;
  }

  label {
    font-family: $roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #565656;
  }
}
