.free-materials-single {
  &__container {
    max-width: 1095px;
    margin: 0 auto;
  }
  &__back-button {
    margin-top: 60px;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 8px;
    color: $primary;
    font-family: $roboto;
    font-size: 22px;
  }
  &__title {
    margin-top: 24px;
    font-family: $roboto;
    color: $gray-500;
    text-transform: uppercase;
    font-size: 30px;
  }
  &__meta {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 32px;
  }
  &__date {
    display: flex;
    align-items: center;
    gap: 14px;
  }
  &__date-text {
    font-family: $inter;
    font-size: 1rem;
    color: $black-100;
  }
  &__video {
    width: 100%;
    height: 610px;
    margin-top: 55px;
  }
  &__iframe {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  &__content {
    margin-top: 50px;
  }
  &__top {
    display: flex;
    align-items: center;
    gap: 9px;
    font-family: $roboto;
    font-size: 24px;
    text-transform: uppercase;
    color: $gray-500;
  }
  &__description {
    font-family: $roboto;
    font-weight: 400;
    font-size: 20px;
    color: $gray-450;
    margin-top: 36px;
  }
  &__share {
    margin-top: 100px;
    margin-bottom: 135px;
  }
}
