.highlight {
  background: linear-gradient(214.12deg, #df5fff -5.77%, #3893ff 108.51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font: inherit;
}
